.detail-image {
  display: grid;
  grid-template-columns: 9fr 40fr;
  gap: 0.75rem;
}

.detail-image .side-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

.detail-image .main-img img {
  box-shadow: none;
}
